language: node_js
node_js:
  - "4.2"
before_script:
  - npm run build-prod
  - rvm install 2.2.3
  - bundle install
script: bundle exec rake test
sudo: false
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
notifications:
  slack:
    secure: hcsEMmKN2IkT/A7R1gjCIHfw0kPEktD1qUIGm080YVtztRZTBSvUlojB2O7Gt6JnM/dij6E93S0isTndqrZF4RY+jsb6Xj/YBCx7jHRvs4D4vaSGj4JbCXOn5otu6PlB33xhCyY+OO0fSRFy5N8Eq+ma6vqcAbrUCrlHgi0jex8=
  email:
  - PhoneGapCI@adobe.com
