---
title: "Optimization Tutorials"
layout: "tutorialspage"
next: /tutorials/distribute
---
each tute in getCollection("optTutes").toJSON()
    article.page(id=tute.basename)
        h2!= tute.title
        section!= tute.contentRenderedWithoutLayouts
              