

.btn {

}
.btn-next {
    float: right;
    background-color: #238fb8;
    color: white;
    margin-bottom: 7px;
    border-radius: 8px;
    border-style: solid;

}
.btn-prev {
    float: left;
    background-color: #238fb8;
    color: white;
    margin-bottom: 7px;
    border-radius: 8px;
    border-style: solid;
}
.btn-large {
    height: 150px;
    width: 150px;
    font-size: 30px;
}
.btn-group {
    padding: 220px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-info {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    background-color: #006699;
    color: white;
}

.btn-help {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    background-color: #994992;
    color: white;
}