body {
    margin-left: 250px;

}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    height: 4000px;
    background-color: #0b4f69;
}
p h1 h2 h3 h4 {
    font-family: "Helvetica Neue", Arial;
    margin-left: 20px;
}

@media only screen and (min-width: 64.0625em) {
    .path-item .circlenumber {
        position: absolute;
        left: 0;
    }
}
@media only screen and (max-width: 64.063em) and (min-width: 0) {
    .path-item .circlenumber {
        left: -12px;
    }
}
.step {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #0b4f69;
  width: 35px;
  height: 35px;
  position: relative;
  margin-top: -5px;
  margin-right: 18px;
  margin-bottom: 5px;
  margin-left: 0.83333rem;
  z-index: 2;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout-info {
  border-left-color: #5bc0de;
}

.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-tip {
    border-left-color: #349981;
}
.callout-help {
    border-left-color: #994992;
}
.callout-success {
    border-left-color: #209940;
}
.btn {

}
.btn-next {
    float: right;
    background-color: #238fb8;
    color: white;
    margin-bottom: 7px;
    border-radius: 8px;
    border-style: solid;

}
.btn-prev {
    float: left;
    background-color: #238fb8;
    color: white;
    margin-bottom: 7px;
    border-radius: 8px;
    border-style: solid;
}
.btn-large {
    height: 150px;
    width: 150px;
    font-size: 30px;
}
.btn-group {
    padding: 220px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-info {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    background-color: #006699;
    color: white;
}

.btn-help {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    background-color: #994992;
    color: white;
}