aside.sidebar
  .sidebar__content
    nav.sidebar__list
      h2: a(href="/guides/start/#") Getting Started
      ul
          each guide in getCollection("startGuides").toJSON()
              li: a(href="/guides/start/#"+guide.basename)!=guide.title
    nav.sidebar__list
        h2: a(href="/guides/cli/#") PhoneGap CLI
        ul
            each guide in getCollection("cliGuides").toJSON()
                li: a(href="/guides/cli/#"+guide.basename)!=guide.title
    nav.sidebar__list
        h2: a(href="/guides/desktop/#") PhoneGap Desktop
        ul
            each guide in getCollection("desktopGuides").toJSON()
                li: a(href="/guides/desktop/#"+guide.basename)!=guide.title
