footer.site-footer
  .bounds
    .site-footer__top
      .site-footer__messages
        .site-footer__message
          h2: a(href="/getting-started/1-install-phonegap/desktop/") Get Started Now
          .site-footer__messages__item__description: p Find out how to install PhoneGap, then create and preview an app on your device &mdash; almost as fast as a robot could do it.
        .site-footer__message
          h2: a(href="http://phonegap.com/blog/") Read Our Blog
          .site-footer__messages__item__description: p The last post was on March 24, 2015&hellip;have you read it yet? If not, go now&hellip;there is solid gold in that post. 
      .site-footer__lists
        nav.site-footer__list
          h2 About
          ul
            li: a(href="http://phonegap.com/about/") Project Overview
            li: a(href="http://phonegap.com/about/license/") License
            li: a(href="http://phonegap.com/about/faq/") FAQs
            li: a(href="https://cordova.apache.org/") Apache Cordova
            li: a(href="http://phonegap.com/about/artwork/") Logo
            li: a(href="http://phonegap.com/about/contact/") Contact Us
        nav.site-footer__list
          h2 Docs &amp; Resources
          ul
            li: a(href="/") Documentation
            li: a(href="http://wiki.phonegap.com/") Wiki
            li: a(href="http://groups.google.com/group/phonegap") Google Group
            li: a(href="http://phonegap.com/tool/") Third Party Tools
            li: a(href="http://phonegap.com/event/") Events
            li: a(href="http://phonegap.com/book") Books
            li: a(href="https://build.phonegap.com/plugins") Plugin Library
        nav.site-footer__list
          h2 We're Everywhere
          ul
            li: a(href="https://github.com/phonegap/") GitHub
            li: a(href="http://phonegap.com/community#irc") IRC
            li: a(href="http://twitter.com/phonegap") Twitter
            li: a(href="http://www.facebook.com/PhoneGap") Facebook
            li: a(href="https://plus.google.com/communities/111220599704908202107") Google+
            li: a(href="https://www.youtube.com/user/phonegap") YouTube
            li: a(href="https://instagram.com/phonegap/") Instagram
    //- .subscribe
    //-   h2 Stay Connected To PhoneGap
    //-   .subscribe__description If you'd like us to keep in touch with the latest news and updates, subscribe now.
    //-   .subscribe__form
    //-     input.subscribe__form__text-input(type="email", placeholder="Enter your email address")
    //-     button.subscribe__form__submit(type="button") Sign Up
    hr
    .site-footer__copyright Copyright &copy; 2015 Adobe Systems Inc. All rights reserved. <br/>Use of this website signifies your agreement to the <a href="http://www.adobe.com/legal/general-terms.html">Terms of Use</a> and <a href="http://adobe.com/privacy">Privacy Policy and Cookies</a>.
