footer.site-footer
  .bounds
    .site-footer__top
      .site-footer__messages
        .site-footer__message
          h2: a(href="#") Get Started Now
          .site-footer__messages__item__description: p Find out how to install PhoneGap, then create and preview an app on your device &mdash; almost as fast as a robot could do it.
        .site-footer__message
          h2: a(href="#") Read Our Blog
          .site-footer__messages__item__description: p The last post was on March 24, 2015&hellip;have you read it yet? If not, go now&hellip;there is solid gold in that post. 
      .site-footer__lists
        nav.site-footer__list
          h2 About
          ul
            li: a(href="#") Project Overview
            li: a(href="#") License
            li: a(href="#") FAQs
            li: a(href="#") Apache Cordova
            li: a(href="#") Logo
            li: a(href="#") Stickers
            li: a(href="#") Contact Us
        nav.site-footer__list
          h2 Docs &amp; Resources
          ul
            li: a(href="#") Documentation
            li: a(href="#") Wiki
            li: a(href="#") Google Group
            li: a(href="#") Third Party Tools
            li: a(href="#") Events
            li: a(href="#") Books
            li: a(href="#") Plugin Library
        nav.site-footer__list
          h2 We're Everywhere
          ul
            li: a(href="#") GitHub
            li: a(href="#") IRC
            li: a(href="#") Twitter
            li: a(href="#") Facebook
            li: a(href="#") Google+
            li: a(href="#") YouTube
            li: a(href="#") Instagram
    .subscribe
      h2 Stay Connected To PhoneGap
      .subscribe__description If you'd like us to keep in touch with the latest news and updates, subscribe now.
      .subscribe__form
        input.subscribe__form__text-input(type="email", placeholder="Enter your email address")
        button.subscribe__form__submit(type="button") Sign Up
    hr
    .site-footer__copyright Copyright &copy; 2015 Adobe Systems Inc. All rights reserved. <br/>Use of this website signifies your agreement to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy and Cookies</a>.
