header.site-header
  .bounds
    .site-header__logo
      h1
        a(href="/")
          img(src="/images/phonegaplogo.svg")
          span Adobe PhoneGap
    nav.site-header__nav
      ul
        li: a(href="#") Products
        li: a(href="#") Get Started
        li: a(href="#") Docs &amp; Resources
        li: a(href="#") App Showcase
        li: a(href="#") Blog
