.sub-footer
  .bounds
    h3.sub-footer__title Looking for more help?
    .sub-footer__description If you're having issues that aren't solved here, be sure to check out the following:
    .sub-footer__blocks
      .sub-footer__block
        h4.sub-footer__block__title
          a(href="https://forums.adobe.com/community/phonegap") PhoneGap Forum
        .sub-footer__block__description PhoneGap/Cordova community forum to use for finding info and posting issues.
        h6.sub-footer__more-link: a(href="https://forums.adobe.com/community/phonegap") Go to the forum
      .sub-footer__block
        h4.sub-footer__block__title
          a(href="http://stackoverflow.com/questions/tagged/phonegap") Stackoverflow
        .sub-footer__block__description For PhoneGap specific questions.
        h6.sub-footer__more-link: a(href="http://stackoverflow.com/questions/tagged/phonegap") Get the answers
      .sub-footer__block
        h4.sub-footer__block__title
          a(href="http://www.meetup.com/topics/phonegap/") Meetup.com
        .sub-footer__block__description Consider finding (or starting) a local Cordova/PhoneGap meetup group.
        h6.sub-footer__more-link: a(href="http://www.meetup.com/topics/phonegap/") See what's happening
