.sub-footer
  .bounds
    h2 Looking for more help?
    .sub-footer__description If you're having issues that aren't solved here, be sure to check out the following:
    .sub-footer__blocks
      .sub-footer__block
        h3: a(href="https://forums.adobe.com/community/phonegap") PhoneGap Forum
        .sub-footer__block__description PhoneGap/Cordova community forum to use for finding info and posting issues.
        .sub-footer__more-link: a(href="https://forums.adobe.com/community/phonegap") Go to the forum
      .sub-footer__block
        h3: a(href="http://stackoverflow.com/questions/tagged/cordova") Stackoverflow (for Cordova)
        .sub-footer__block__description PhoneGap questions are tagged as Cordova too, so you will capture answers for both.
        .sub-footer__more-link: a(href="http://stackoverflow.com/questions/tagged/cordova") Get the answers
      .sub-footer__block
        h3: a(href="http://www.meetup.com/topics/phonegap/") Meetup.com
        .sub-footer__block__description Consider finding (or starting) a local Cordova/PhoneGap meetup group.
        .sub-footer__more-link: a(href="http://www.meetup.com/topics/phonegap/") See what's happening
