- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

doctype html
html(lang='en')

  head

    block meta
      meta(name="viewport", content="initial-scale=1.0")
    block styles
      != styles.toHTML()
      link(href='/styles/zenburn-highlight.css', rel='stylesheet')
      link(href='/styles/normalize.css', rel='stylesheet')
      link(href='/styles/index.css', rel='stylesheet')


  body
    block site-header
      include ./includes/site-header.jade
    main
      .bounds
        block main
          include ./includes/sidebar.jade
          .content
            block content
              -if(document.tabs)
                include ./includes/tabs.jade
              h1!= document.title
              != content
    block site-footer
      include ./includes/site-footer.jade

    block scripts
      != scripts.toHTML()
      script(src="//use.typekit.net/exp7awb.js")
      script(type='text/javascript').
        try{Typekit.load();}catch(e){}
