- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

doctype html
html(lang='en')

  head
    title=document.title +" | PhoneGap Docs"
    block meta
      meta(name="viewport", content="initial-scale=1.0")
      script(src="//use.typekit.net/exp7awb.js")
      script(src="//assets.adobedtm.com/659ec8ada5450db95675e43beaaae92399591a11/satelliteLib-46e65db5bb0c375f8f64619be31cc9b29acf4867.js")
      script(type='text/javascript').
        try{Typekit.load();}catch(e){}
      script(src="https://cdnjs.cloudflare.com/ajax/libs/sizzle/2.2.0/sizzle.min.js")
      script(src="/scripts/main.js")
      script(src="http://phonegap.com/scripts/home.js")
      script(src="http://phonegap.com/scripts/mobile_nav.js")
    block styles
      != styles.toHTML()
      link(href='/styles/zenburn-highlight.css', rel='stylesheet')
      link(href='/styles/normalize.css', rel='stylesheet')
      link(href='http://phonegap.com/styles/main.css', rel='stylesheet')
      link(href='/styles/index.css', rel='stylesheet')
  body
    block site-header
      include ./includes/site-header.pug
    main
      .bounds
        block main
          include ./includes/sidebar.pug
          .content
            p.language-select-container
              select#language-select.language-select
                option(value="http://docs.phonegap.com/" selected) English
                option(value="http://ja.docs.phonegap.com/") Japanese
            h1!= document.title
            block content
              -if(document.tabs)
                include ./includes/tabs.pug
              != content
    block site-footer
      include ./includes/site-footer.pug

    block scripts
      != scripts.toHTML()

    include ./includes/analytics.pug
