- var meta = getBlock('meta')
- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- user styles and scripts
- styles.add(['/styles/index.css'])

doctype html
html(lang='en')

  head

    //- meta
    != meta.toHTML()

    //- styles
    != styles.toHTML()

  body

    != content

    //- scripts
    != scripts.toHTML()
