doctype html
html(lang='en')

  head

    block meta
      meta(name="viewport", content="initial-scale=1.0")
    block styles
      link(href='/styles/normalize.css', rel='stylesheet')
      link(href='/styles/index.css', rel='stylesheet')


  body
    header.site-header
      .bounds
        .site-header__logo
          h1
            a(href="/")
              img(src="/images/phonegaplogo.svg")
              span Adobe PhoneGap
        nav.site-header__nav
          ul
            li: a(href="#") Products
            li: a(href="#") Get Started
            li: a(href="#") Docs &amp; Resources
            li: a(href="#") App Showcase
            li: a(href="#") Blog
    main
      .bounds
        aside.sidebar test
        .content!= content
    footer.site-footer

    block scripts
