extends ./default.html.jade

block append content
  -if(document.next)
    - var next = getCollection("html").findOne({url:document.next}).toJSON();
    a.page__navigation--next(href=next.url)!= "Next Step: "+next.title
