---
title: "Create"
layout: "subpage"
prev: /guides/install/index.html
next: /guides/run/index.html
---
each guide in getCollection("createGuides").toJSON()
  article.page(id=guide.basename)
    h2!= guide.title
    section!= guide.contentRenderedWithoutLayouts
